.debug-highlight {
	position: absolute;
	z-index: 20;
	background-color: Maroon;
}

#editor {
	height: 500px;
}

.logo {
	padding-left: 30px;
	background-image: url("https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png");
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: left center;
}

.container {
	width: 100%;
}

.updated-variable-item {
	background-color: LightGreen!important;
}